header {
  background-color: yellow;
}
.title {
  font-family: arial;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  margin: 0px;
}
.game {
  background-color: aquamarine;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 690px;
}
.leftcol {
  background-color: coral;
  float: left;
  width: 25%;
  height: 690px;
}
.center {
  background-color: orchid;
  float: left;
  width: 50%;
  height: 690px;
}
.rightcol {
  background-color: coral;
  float: left;
  width: 25%;
  height: 690px;
}
.icon {
  display: block;
  padding: 10px;
}
.oughts {
  background-color: blue;
  min-width: 140px;
  max-width: 33%;
  position: relative;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}
.naughts {
  background-color: blue;
  min-width: 140px;
  max-width: 33%;
  position: relative;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}
.win-title {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 30px;
  margin: 10px;
}
.win-counter {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 50px;
}
.tictactoe {
  position: relative;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  height: 330px;
}
.row {
  width: 330px;
  height: 110px;
  background-color: lightgreen;
}
.cell {
  width:100px;
  height:100px;
  background-color: white;
  margin: 5px;
  float: left;
}
