body {
  margin: 0px;
}
header {
  background-color: yellow;
}
.userbar{
  background-color: yellow;
  text-align: right;
  padding: 10px;
}
.title {
  font-family: arial;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  margin: 0px;
}
.game {
  background-color: aquamarine;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 690px;
}
.leftcol {
  background-color: coral;
  float: left;
  width: 25%;
  height: 690px;
}
.center {
  background-color: orchid;
  float: left;
  width: 50%;
  height: 690px;
}
.rightcol {
  background-color: coral;
  float: left;
  width: 25%;
  height: 690px;
}
.icon {
  display: block;
  padding: 10px;
}
.naughts {
  background-color: blue;
  min-width: 140px;
  max-width: 33%;
  position: relative;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}
.oughts {
  background-color: blue;
  min-width: 140px;
  max-width: 33%;
  position: relative;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}
.win-title {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 30px;
  margin: 10px;
}
.win-counter {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 50px;
}
.tictactoe {
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 510px;
  height: 510px;
}
.row {
  width: 510px;
  height: 170px;
  background-color: lightgreen;
}
.cell {
  width:150px;
  height:150px;
  background-color: gray;
  margin: 10px;
  float: left;
  text-align: center;
  font-size: 136px;
}
.popup {
  position: fixed;
  background-color: navy;
  text-align: left;
  padding: 10px;
  top: 0;
  left: 0;
}
